<mat-card class="list">
    <mat-card-header>
      <mat-card-title> <h1>Select a Work Shift</h1> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          *ngFor="let shift of shifts"
          (click)="selected.emit(shift)"
          class="mat-list-item"
        >
          <h1 matLine>{{ shift.title }}</h1>
          <p matLine>{{ shift.date }}</p>
          <p matLine>{{ shift.time }}</p>
          <p matLine>{{ shift.specialPay }}</p>

          <button
            mat-icon-button
            (click)="deleted.emit(shift.id); $event.stopImmediatePropagation()"
          >
            <mat-icon *ngIf="!readonly">cancel</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
